!!!
%head
  %title Exercise 6
%body
  .field
    %label
      Name:
    %input{name: :name}
  .field
    %label
      Last Name:
    %input{name: :last_name}
  .field
    %label
      Age:
    %input{name: :age}
  .field
    %label
      Telephone:
    %input{name: :telephone}
  .field
    %label
      Email:
    %input{name: :email}
