!!!
%head
  =stylesheet_link_tag yield_content(:stylesheet)
  =javascript_include_tag :jquery
  =javascript_include_tag yield_content(:js)
%body
  %header
    %h1=yield_content(:exercise_name)
  .main
    =yield
  %footer
    %section.info By Mario Bonales
