!!!
%head
  -if yield_content(:stylesheet)
    =stylesheet_link_tag yield_content(:stylesheet)
  =javascript_include_tag :jquery
  -if yield_content(:js)
    =javascript_include_tag yield_content(:js)
  %title= yield_content(:exercise_name)
%body
  %header
    %h1=yield_content(:exercise_name)
  .main
    =yield
  %footer
    %section.info By Mario Bonales
