!!!
%head
  %title Exercise 6
%body
  .field
      Id: <?= $data['id'] ?>
  .field
      Name: <?= $data['name'] ?>
  .field
      Last Name: <?= $data['last_name'] ?>
  .field
      Age: <?= $data['age'] ?>
  .field
      Telephone: <?= $data['telephone'] ?>
  .field
      email: <?= $data['email'] ?>
