-content_for(:stylesheet,:bubbling)
-content_for(:js,:bubbling)
-content_for(:exercise_name,"Excercise 10")
#parent
  %div Parent (Click me!)
  #children
    %div Children (Click me!)
    #grandchildren
      %div Grandchildren
      %div Click me!
